.place__delete{
    position: absolute;
    right: 15px;
    top: 18px;
    width: 18px;
    height: 19.3px;
    padding: 0%;
    background-image: url("../../../images/Trash.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    outline: 0;
    border: 0;
}

.place__delete:hover{
    cursor: pointer;
    opacity: 0.6;
}