.profile__job{
    max-width: 282px;
    margin: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;

    grid-area: description;
    grid-column: 1/3;
}

@media all and (min-width: 900px){
    .profile__job{
        max-width: calc(880px - (150px + 30px + 120px + 30px));

        font-size: 18px;
        line-height: 22px;
        text-align: left;

        padding: 0;
    }
}